  @media screen and (min-width:481px) {
    body{
      background-color: green;
      margin: 0px;
      padding: 0px;
    }

    #cap ul{
      margin: 0 auto;
      background-color: pink;
      text-align: center;
      height: 35px;
      padding-top: 10px;
    }

    #cap ul li{
      display: inline;
    }

    #cos{
      background-color: blue;
      text-align: center;
      overflow: hidden;
      width: 66.5%;
      float: left;
    }

    #menu{
      background-color: purple;
      text-align: center;
      overflow: hidden;
      width: 31%;
      float: right;
      padding:0.5% 2% 0.5% 0.5%;
    }

    .not{
      height: 150px;
      width: 45%;
      padding: 0px;
      background-color: rgb(89, 228, 210);
      margin: 2%;
      float: left;
    }

    .op{
      height: 150px;
      width: 95%;
      padding: 0px;
      background-color: rgb(89, 228, 210);
      margin: 5.7%;
    }
    }
