  @media screen and (max-width:480px) {
    body{
      background-color: red;
      margin: 0px;
      padding: 0px;
    }

  #cap ul{
    margin: 0 auto;
    background-color: purple;
    height: 35px;
    padding-top: 10px;
  }
  #cap ul li{
    display: inline;
  }

  #cos{
    background-color: blue;
    text-align: center;
    padding: 10px;
    overflow: hidden;
  }

  #menu{
    background-color: green;
    text-align: center;
    padding: 10px;
    overflow: hidden;
  }

  .not{
    height: 50px;
    width: 98%;
    padding-top: 10px;
    background-color: rgb(89, 228, 210);
    margin: 0 auto;
    margin-top: 10px;
  }

  .op{
    height: 50px;
    width: 95%;
    padding-top: 10px;
    background-color: rgb(89, 228, 210);
    margin: 0 auto;
    margin-top: 10px;
  }

  }
